[Unit]
Description=Mouseless Service

[Service]
Type=simple
ExecStart=/home/jaruga/.local/bin/mouseless
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
